* {
  box-sizing: border-box;
}

body {
  color: #000;
  background: rgb(238, 238, 238);
}
body .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
body .wrapper #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 9vh;
  position: fixed;
  top: 0;
  left: 5%;
  right: 2%;
  background: rgb(238, 238, 238);
}
@media all and (max-width: 725px) {
  body .wrapper #header {
    width: 100%;
    left: 0;
  }
}
@media all and (max-width: 620px) {
  body .wrapper #header {
    flex-direction: column;
    height: 15vh;
  }
}
@media all and (max-width: 620px) {
  body .wrapper #header .header-top-item {
    width: 100%;
    padding-bottom: 20px;
  }
}
body .wrapper #header .header-top-item:first-child {
  width: 50%;
}
@media all and (max-width: 620px) {
  body .wrapper #header .header-top-item:first-child {
    margin-top: 1vh;
    width: 100%;
  }
}
body .wrapper #header .header-top-item #header-img {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 1200px) {
  body .wrapper #header .header-top-item #header-img {
    max-width: 400px;
  }
}
body .wrapper #header #nav-bar {
  text-align: center;
}
@media all and (max-width: 633px) {
  body .wrapper #header #nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
body .wrapper #header #nav-bar .nav-link {
  display: inline;
  margin: 0 3.5vw 0 0;
}
@media all and (max-width: 620px) {
  body .wrapper #header #nav-bar .nav-link {
    margin: 0;
  }
}
body .wrapper #header #nav-bar .nav-link a {
  text-decoration: none;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media all and (min-width: 1100px) {
  body .wrapper #header #nav-bar .nav-link a {
    font-size: 1.3rem;
  }
}
@media all and (min-width: 1350px) {
  body .wrapper #header #nav-bar .nav-link a {
    font-size: 1.5em;
  }
}
body .wrapper main .user-email-container {
  margin: 10vh 0 10vh 0;
  width: 100%;
}
@media all and (max-width: 620px) {
  body .wrapper main .user-email-container {
    margin-top: 15vh;
  }
}
body .wrapper main .user-email-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 20vh;
}
body .wrapper main .user-email-container form h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
@media all and (min-width: 1200px) {
  body .wrapper main .user-email-container form h2 {
    font-size: 2rem;
  }
}
body .wrapper main .user-email-container form input {
  padding: 5px;
  width: 30%;
}
@media all and (max-width: 620px) {
  body .wrapper main .user-email-container form input {
    width: 70%;
  }
}
@media all and (min-width: 1100px) {
  body .wrapper main .user-email-container form input[type=email] {
    font-size: 1.3rem;
  }
}
body .wrapper main .user-email-container form #submit {
  border: none;
  cursor: pointer;
  font-weight: 900;
  width: auto;
  background: rgb(255, 165, 0);
}
@media all and (min-width: 1200px) {
  body .wrapper main .user-email-container form #submit {
    font-size: 1.3rem;
  }
}
body .wrapper main #advantages {
  margin: 0 auto 15vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}
@media all and (max-width: 505px) {
  body .wrapper main #advantages {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
body .wrapper main #advantages .advantages-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 505px) {
  body .wrapper main #advantages .advantages-item {
    flex-direction: column;
    margin: 0 0 5vw 0;
  }
}
body .wrapper main #advantages .advantages-item .icon-container {
  width: 20%;
  text-align: center;
}
@media all and (max-width: 620px) {
  body .wrapper main #advantages .advantages-item .icon-container {
    text-align: start;
    margin-bottom: 3vw;
  }
}
body .wrapper main #advantages .advantages-item .icon-container i {
  font-size: 48px;
  color: #FF8C00;
}
@media all and (min-width: 1200px) {
  body .wrapper main #advantages .advantages-item .icon-container i {
    font-size: 4rem;
  }
}
body .wrapper main #advantages .advantages-item h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
@media all and (min-width: 1200px) {
  body .wrapper main #advantages .advantages-item h2 {
    font-size: 2rem;
  }
}
@media all and (max-width: 505px) {
  body .wrapper main #advantages .advantages-item h2 {
    margin-bottom: 5%;
  }
}
body .wrapper main #advantages .advantages-item p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7rem;
}
@media all and (min-width: 1200px) {
  body .wrapper main #advantages .advantages-item p {
    font-size: 1.3rem;
  }
}
body .wrapper main #advantages .advantages-item div {
  width: 80%;
}
body .wrapper main article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 450px;
  margin: 0 0 15vh 0;
}
body .wrapper main article iframe {
  width: 70%;
  height: 100%;
}
@media all and (max-width: 620px) {
  body .wrapper main article iframe {
    width: 90%;
  }
}
body .wrapper main #pricing {
  width: 90%;
  margin: 0 auto 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media all and (min-width: 1100px) {
  body .wrapper main #pricing {
    font-size: 1.3rem;
  }
}
@media all and (max-width: 768px) {
  body .wrapper main #pricing {
    flex-direction: column;
    align-items: center;
  }
}
body .wrapper main #pricing .pricing-item {
  width: 33.3333333333%;
  height: 340px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1vh;
  border: 1px solid #000;
}
@media all and (min-width: 1100px) {
  body .wrapper main #pricing .pricing-item {
    height: 380px;
  }
}
@media all and (max-width: 768px) {
  body .wrapper main #pricing .pricing-item {
    width: 100%;
    max-width: 300px;
  }
}
body .wrapper main #pricing .pricing-item .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background: rgb(221, 221, 221);
}
body .wrapper main #pricing .pricing-item .header h2 {
  font-weight: 700;
}
body .wrapper main #pricing .pricing-item .pricing-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
body .wrapper main #pricing .pricing-item .pricing-details h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
body .wrapper main #pricing .pricing-item .pricing-details ul li {
  margin-bottom: 2vw;
}
body .wrapper main #pricing .pricing-item .pricing-details button {
  border: none;
  cursor: pointer;
  font-weight: 400;
  width: 33.3333333333%;
  height: 40px;
  background: rgb(241, 196, 15);
  font-size: large;
  margin: 0 auto 2%;
}
body .wrapper footer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: rgb(221, 221, 221);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media all and (min-width: 1200px) {
  body .wrapper footer {
    font-size: 1.3em;
  }
}
body .wrapper footer .footer-items-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
body .wrapper footer .footer-items-container .footer-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .wrapper footer .footer-items-container .footer-item h2 a {
  text-decoration: none;
  color: #000;
}
body .wrapper footer .footer-items-container .footer-item span {
  font-size: 14px;
  color: #444444;
  padding: 5% 0;
}/*# sourceMappingURL=style.css.map */